*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 11, 3); /* Sets a dark brown background color */
  font-size: 30px; /* Base font size for the body */
  text-shadow: 4px 4px 4px #0b3355; /* Adds a shadow to text for depth */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Removes default margin */
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  align-self: flex-start;
  padding: 50px;
}

.container {
  max-width: 300px; /* Container size */
  max-height: 400px;
  text-align: center; /* Centers text inside */
  width: 100%; /* Full width */
  padding: 20px; /* Internal spacing */
  background-color: rgba(191, 168, 233, 0.5); /* Semi-transparent background */
  border-radius: 30px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(199, 135, 135, 0.3); /* Soft shadow around the container */
  flex-shrink: 0; /* Prevents the container from shrinking */
  margin-bottom: 50px; /* Adds space between stacked containers */
  margin-top: 30px;
  margin-left: 20px;
}


.content {
  flex-grow: 2;
  background-size: cover; /* Ensures background image covers the element */
  background-repeat: no-repeat; /* Prevents background image repetition */
  background-position: center; /* Centers the background image */
  display: flex;
  flex-direction: column;
  justify-content: center;/* Centers text inside */
  text-align: center; /* Centers text inside */
  flex-grow: 1; /* Allows the element to grow and fill available space */
  width: 100%; /* Full width of the parent */
  border-radius: 50px; /* Matches the rounded corners of the container */
  color: white; /* White text color */
  padding: 20px; /* Internal spacing */
  max-width: 600px; /* Ensures a larger max width */
  min-width: 400px; /* Minimum width */
  height: 700px; /* Larger height */
  margin-left: 20px; /* Space to the left of the right container */
}

.info {
  padding-top: 200px;
}


form input {
  padding: 10px; /* Adds internal spacing */
  margin-right: 10px; /* Adds space to the right of the input */
  border-radius: 5px; /* Rounds the corners */
  border: none; /* Removes default border */
}

form button {
  padding: 10px 20px; /* Adds internal spacing */
  background-color: #35739c; /* Blue background color */
  color: white; /* White text color */
  border: none; /* Removes default border */
  border-radius: 5px; /* Rounds the corners */
  cursor: pointer; /* Changes cursor to a pointer on hover */
}

/* Hover effect for buttons */
form button:hover {
  background-color: #45a049; /* Changes button color on hover */
}


.header {
  font-size: 25px;
}